[submodule "configs/batfish-test-topology"]
	path = configs/batfish-test-topology
	url = https://github.com/corestate55/batfish-test-topology.git
[submodule "configs/pushed_configs"]
	path = configs/pushed_configs
	url = https://github.com/ool-mddo/pushed_configs.git
[submodule "repos/netomox-exp"]
	path = repos/netomox-exp
	url = https://github.com/ool-mddo/netomox-exp.git
[submodule "repos/batfish-wrapper"]
	path = repos/batfish-wrapper
	url = https://github.com/ool-mddo/batfish-wrapper.git
[submodule "repos/fish-tracer"]
	path = repos/fish-tracer
	url = https://github.com/ool-mddo/fish-tracer.git
[submodule "repos/netoviz"]
	path = repos/netoviz
	url = https://github.com/ool-mddo/netoviz.git
[submodule "configs/mddo-ospf"]
	path = configs/mddo-ospf
	url = https://github.com/ool-mddo/mddo-ospf.git
