{% if  item.1.attribute.redistribute | length != 0 %}
        export ospf-redistribute;
{% endif %}
    }
}
{% if  item.1.attribute.redistribute | length != 0 %}
policy-options {
    policy-statement ospf-redistribute {
        from protocol [ {{ item.1.attribute.redistribute | json_query('[*].protocol') | join(' ') | regex_replace('connected', 'direct') }} ];
        then accept;
    }
}
{% endif %}
{#
        from protocol [ {{ item.1.attributes.redistribute | json_query('[*].protocol') | join(' ') | regex_replace('connected', 'direct') }} ];
#}
