routing-options {
{# ospf_area_nodes is per area, ospf_proc node list, ospf_area_nodes #}
{% for ospf_area_node in ospf_nodes.json[0]["nodes"] %}
{%   if ospf_area_node["node"] == item["node"] %}
    router-id {{ ospf_area_node["attribute"]["router-id"] }};
{%   endif %}
{% endfor  %}
}
routing-options {
{# search bgp node which has node-ref with item["node"] #}
{% for bgp_proc_node in bgp_proc_nodes.json["nodes"] %}
{%   if bgp_proc_node["supports"][0]["node-ref"] == item["node"] and "attribute" in bgp_proc_node%}
{%     if bgp_proc_node["attribute"]["router-id"] | length != 0 %}
    router-id {{ bgp_proc_node["attribute"]["router-id"] }};
{%     endif %}
{%   endif %}
{% endfor %}
{# end of routing-options #}
}

