
scrape_configs:
  - job_name: cadvisor
    scrape_interval: 5s
    static_configs:
      - targets:
        -  172.17.0.1:20080

  - job_name: node_exporter
    scrape_interval: 10s
    static_configs:
      - targets:
        - 172.17.0.1:9100
