routing-options {
{% if item["mddo-topology:l3-node-attributes"]["static-route"] %}
    rib inet.0 {
        static {
{% for route in item["mddo-topology:l3-node-attributes"]["static-route"] %}
            route {{ route.prefix }} {
{% if "AUTO/NONE" in route["next-hop"]  %}
                discard;
{% else %}
                next-hop {{ route["next-hop"] }};
{% endif %}
                preference {{ route["preference"] }};
                metric {{ route["metric"] }};
            }
{% endfor  %}
        }
    }
{% endif %}
{% for ospf_node in result_ospf["json"] %}
{% if ospf_node["node"] == item["node-id"] and "Seg" not in item["node-id"] %}
    router-id {{ ospf_node["attributes"]["router-id"] }};
{% endif %}
{% endfor  %}
}

