! Startup-config last modified at Mon Aug  8 16:20:08 2022 by root
! device: sw1 (cEOSLab, EOS-4.27.2F-26069621.4272F (engineering build))
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$CBiRxPYBJdKHYxqj$ROVcl3YC2m3Vvo97Tu83dDT5X/BtuHWGmHhAxJhkcZpgTo9PseHRGhqeyTWQLgv/w3gLKt8ozSCiGKjhIzbS01
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ item.name }}
!
spanning-tree mode mstp
!
management api http-commands
   no shutdown
!
management api gnmi
   transport grpc default
!
management api netconf
   transport ssh default
{% for interface in item.if_list %}
!
interface {{ interface.name }} 
   description  {{ interface.description }}
   no shutdown
{% endfor %}
!
!
!
no ip routing
!
end
