system {
    host-name {{ item.name }};
    root-authentication {
        encrypted-password "$6$vOte4zs5$j1X3fElYvJSt8VPNXx2KzRNrZIkp9CeRX83/W4wQo5K4Tl/MHZeMcvbymEzm9/2ya3S4hU993YDSLY26ROGnW/"; ## SECRET-DATA
    }
    login {
        user vrnetlab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$CDmzGe/d$g43HmhI3FA.21JCYppnTg1h4q/JO4DOHSICLhhavqBem5zUTgKEcg5m9tBG1Ik6qmfb7L3v.wgj4/DkfgZejO0"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
        netconf {
            ssh;
        }
    }
}
interfaces {
{% for interface in item.if_list %}
    /*{{ interface.original_if }}*/
    {{ interface.name | regex_replace('\.0', '') }} {
{% if interface.description %}
        description "{{ interface.description | regex_replace('"', '') }}"
{% endif %}
        unit 0 {
            family inet {
                address {{ interface.ipv4 }};
            }
        }
    }
{% endfor %}
}
routing-instances {
    mgmt {
        instance-type vrf;
        interface eth0;
        route-distinguisher 65000:1;
        vrf-target target:65000:1;
    }
}
